{% extends 'base.html.twig' %}

{% block title %}Modifier sortie - Sortie.com{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <h1 class="display-6 text-center">Modifier sortie</h1>

    <div class="d-flex justify-content-center">
        <div class="border border-0 rounded p-3"
             style="
                margin-top: 1rem;
                margin-bottom: 1rem;
                background-color: rgba(255,255,255,0.16);
                "
        >
            {{ form_start(form) }}

            {{ form_widget(form) }}
            {{ form_errors(form) }}

            <a class="btn btn-secondary" onclick="history.back()">Retour</a>
            <button type="submit" class="btn btn-primary">Envoyer</button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}